@tailwind base;
@tailwind components;
@tailwind utilities;

.loginbtn {
	background: linear-gradient(to left, #0073e6 50%, #005cb8 50%) right;
	background-size: 200%;
}

.postbtn {
	background: linear-gradient(to left, #1c4980 50%, #163a66 50%) right;
	background-size: 200%;
}

.iconChange:hover img {
	transform: translateX(-180%);
}

.border-transition {
	position: relative;
	overflow: hidden;
}

.border-transition:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px; /* Adjust the border thickness if needed */
	background-color: white; /* Replace with your desired border color */
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease;
}
#hero-text {
	text-align: center;
	animation: anim-text-color 10s infinite linear;
	text-transform: uppercase;
}
.border-transition:hover:before {
	transform: scaleX(1);
	transform-origin: right;
}

.mask1 {
	-webkit-mask-image: url("/headphone.png");
	mask-image: url("/headphone.png");
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}
@keyframes anim-text-color {
	0%,
	100% {
		color: #36b5b0;
	}
	20% {
		color: #6133b1;
	}
	40% {
		color: #361f52;
	}
	60% {
		color: #21d6c7;
	}
	80% {
		color: #5f2da8;
	}
}
